# Dependencies
node_modules/
jspm_packages/
bower_components/

# Runtime / Process
pids
*.pid
*.seed
*.pid.lock

# Coverage / Testing
coverage
*.lcov
.nyc_output

# Build / Output
dist
build/Release
.output

# Caches
.npm
.eslintcache
.stylelintcache
.grunt
.cache
.parcel-cache
.fusebox

# TypeScript
*.tsbuildinfo

# Server / Platform
.serverless/
.dynamodb/
.firebase/

# Misc
.lock-wscript
.node_repl_history
.tern-port
*.tgz
